@page "{name}"

@model GreetingModel


<h1>All Restaurants</h1>

<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
        </tr>
    }
</table>

<div>@Model.CurrentGreeting</div>

